.analyse {
    margin-top: 30px;
}

.analyse .analyse-button {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: violet;
    border-radius: 8px;
    border-width: 0px;
}

.button-see-playlist .see-playlist {
    margin-top: 5px;
    padding: 10px;
    background-color: hotpink;
    border-radius: 8px;
    border-width: 0px;
    font-size: 15px;
    font-weight: bold;
    font-style: inherit;
}

.circle {
    margin-top: 140%;
    margin-bottom: 15px;
    margin-left: 30px;
    background: rgb(146, 145, 145);
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    
    border-left: 12px solid black;

    margin-top: -110px;
    margin-left: 106px;

    outline:none;
    overflow: hidden;
    background-color: Transparent;
}

.pause {
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 37px;
    /* border-color: #202020; */

    border-style: double;
    /* border-width: 0px 37px 0px 37px; */
    border-width: 0px 0px 0px 7px;
    border-color: black;

    margin-top: -11px;
    margin-left: 122px;

    outline:none;
    overflow: hidden;
    background-color: Transparent;
}


