.App {
    text-align: center;
}

.vibrate-button {
    margin: 10px;
    padding: 7px;
    color: black;
    background-color: blue;
}

.RythM {
    margin: 10px;
    padding: 7px;
    color: black;
    background-color: blue;
}

RythM2 {
    margin: 10px;
    padding: 7px;
    color: black;
    background-color: blue;
}
